---
---

$primary-color: green;
$secondary-color: blue;
$dropdownmenu-background: orange;
// Import partials from `sass_dir` (defaults to `_sass`)
@import "syntax-highlighting";
@import '../_sass/foundation';

@include foundation-everything;

body {
    border-top: 7px solid #C06014;
}
.highlight {
    pre {
        border: 1px solid #ddd;
        background-color: #eef;
        padding: 0 .4em;
        margin-bottom: 20px !important;
        white-space: pre;
        overflow: auto;
    }
    code {
        border: none;
        background-color: #eef;
        font-size: 85%;
        padding: 0 .2em;
    }
}
.boorde-blog {
    margin-top: 15px;
}
.sidebar-container {
    border-right: 1px solid #CDCDCD;
}