---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>  
        <h4>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h4>
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        {% if post.content contains '<!-- more -->' %}
          <p class="post-list__content">{{ post.content | split:'<!-- more -->' | first }}
          </p>
          <a href="{{ post.url }}"class="post-list__button">Read More</a>
          {% else %}
            {{ post.content }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
