<span class="stalker-text">Follow me:</span>
<div id="stalker">
  {% if site.social.github %}
  <a title="{{ site.social.github }} on Github" href="https://github.com/{{ site.social.github }}">
    <i class="fa fa-github-square"></i>
  </a>
  {% endif %}

  {% if site.social.bitbucket %}
  <a title="{{ site.social.bitbucket }} on Bitbucket" href="https://bitbucket.com/{{ site.social.bitbucket }}/">
    <i class="fa fa-bitbucket-square"></i>
  </a>
  {% endif %}

  {% if site.social.twitter %}
  <a title="{{ site.social.twitter }} on Twitter" href="https://twitter.com/{{ site.social.twitter }}">
    <i class="fa fa-twitter-square"></i>
  </a>
  {% endif %}

  {% if site.social.facebook %}
  <a title="{{ site.name }} on Facebook" href="https://facebook.com/{{ site.social.facebook }}">
    <i class="fa fa-facebook-square"></i>
  </a>
  {% endif %}

  {% if site.social.linkedin %}
  <a title="{{ site.name }} on LinkedIn" href="https://www.linkedin.com/in/{{ site.social.linkedin }}">
    <i class="fa fa-linkedin-square"></i>
  </a>
  {% endif %}
</div>